@using InvoiceApp.UI.MVC.Models;
@model CreateInvoiceVM;

@using (Html.BeginForm())
{
    <div>
        @Html.ValidationSummary()
    </div>
    <br />
    <div>
        <b>Invoice Date:</b>
        <input type="date" asp-for="InvoiceViewModel.InvoiceDate" required />
        <span>@Html.ValidationMessageFor(m => m.InvoiceViewModel.InvoiceDate)</span>
    </div>
    <br />
    <div>
        <b>Due Date:</b>
        <input type="date" asp-for="InvoiceViewModel.DueDate" required />
        <span>@Html.ValidationMessageFor(m => m.InvoiceViewModel.DueDate)</span>
    </div>
    <br />
    <div>
        <b>Net:</b>
        <input  asp-for="InvoiceViewModel.NetAmount" required />
        <span>@Html.ValidationMessageFor(m => m.InvoiceViewModel.NetAmount)</span>
    </div>
    <br />
    <div>
        <b>Tax:</b>
        <input asp-for="InvoiceViewModel.TaxAmount" required />
        <span>@Html.ValidationMessageFor(m => m.InvoiceViewModel.TaxAmount)</span>
    </div>
    <br />
    <div>
        <b>Note:</b>
        <textarea asp-for="InvoiceViewModel.Note"></textarea>
        <span>@Html.ValidationMessageFor(m => m.InvoiceViewModel.Note)</span>
    </div>
    <br />
    <div>
        <b>Status:</b>
        @Html.DropDownListFor(m => m.InvoiceViewModel.Status, Html.GetEnumSelectList<InvoiceApp.Domain.Enums.InvoiceStatus>())
    </div>
    <br />
    <div>
        <b>Client:</b>
        @Html.DropDownListFor(m => m.InvoiceViewModel.ClientId, Model.Clients)
        <span>@Html.ValidationMessageFor(m => m.InvoiceViewModel.ClientId)</span>
    </div>
    <br />
    <div>
        <b>Project:</b>
        @Html.DropDownListFor(m => m.InvoiceViewModel.ProjectId, Model.Projects)
        <span>@Html.ValidationMessageFor(m => m.InvoiceViewModel.ProjectId)</span>
    </div>
    <br />
    <div>
        <input type="submit" value="Add"/>
    </div>
} 